{% extends 'base/base.html' %}

{% block content %}
<div class="container">
    <br/>
    <br/>
    <br/>
{% if list_of_teachers %}
<div class="row">
    {% for teacher in list_of_teachers %}
    <div class="col-md-4">
    <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Mr. {{ teacher.last_name }}</h5>
              <h6 class="card-subtitle mb-2 text-muted"><strong>Full name:</strong> {{ teacher.first_name }} {{teacher.last_name }}</h6>
              <p class="card-text"><strong>Subscription date: </strong>{{ teacher.subscription_date }}</p>
              <p class="card-text"><strong>Domain: </strong>{{ teacher.get_area_of_domain_display }}</p>
              <a href="{% url 'teachers_detail' teacher.teacher_id_number %}" class="btn btn-info">View</a>
            </div>
          </div>
        </div>
    {% endfor %}
</div>

{% else %}
    <p>No teachers assigned.</p>
{% endif %}
</div>
{% endblock %}